{% extends 'main/layout.html' %}
{% block title %}Узменение записи{% endblock  %}
{% block content %}
    <div class="features">
        <div class="title_notes"><h3>Изменение</h3></div>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Сохранить изменения</button>
        </form>
    </div>
{% endblock  %}
