{% if notes != None %}
            {% for notes in notes %}
                <h1> {{ notes.title }}</h1>
                    <p> {{ notes.anons}}</p>
                    <p> {{ notes.date }} </p>
            {% endfor %}
        {% endif %}



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">   Альтернатива
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"> FontAwesome original
        <i class="fa-thin fa-alicorn"></i>
        <i class="fa-regular fa-alicorn"></i>
        <i class="fa-regular fa-00"></i>
        <i class="fa-thin fa-7"></i>